@page "/"
@inject HttpClient Http


<PageTitle>Movies</PageTitle>

<h1>Movies</h1>

@if (movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if (movies.Length == 0)
    {
        <p><em>No movies found.</em></p>
    }
    else
    {
        <p><em>@movies.Length movie(s) found.</em></p>
    }
}

@code{    
    private Movie[] movies;

    protected override async Task OnInitializedAsync()
    {
        movies = await Http.GetFromJsonAsync<Movie[]>("movies");
    }
}